@media only screen and (max-width: 320px) {

    body{
        background-color: #86acac;
    }
    
    .Banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .Logo{
        color: rgb(244, 241, 247);
        font-family: sans-serif
    }

    .btn{
        display: flex;
        gap: 10px;
    }

    input{
        width: 60px;
        color: antiquewhite;
        background-color: rgb(7, 73, 73);
        border: 0px;
        border-radius: 10px;
        height: 35px;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        gap: 20PX;
        margin-top: 10px; 
    }

    p{
        font-size: x-small;
    }

    .p1{
        background-color: #123636;
        color: azure;
        border-radius: 15px;
    }
 
    .p2{
        background-color: #123636;
        color: azure;
        border-radius: 15px;

    }
    

    .p3{
        background-color: #123636;
        color: azure;
        border-radius: 15px;
    }

}

@media only screen and (min-width: 321px) and (max-width: 600px) {

    body{
        background-color: #62668a;
    }
    
    .Banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Logo{
        margin-left: 35px;
        color: rgb(123, 6, 177);
        font-family: sans-serif
    }

    .btn{
        display: flex;
        gap: 10px;
    }

    input{
        width: 40px;
        color: rgb(243, 204, 255);
        background-color: rgb(45, 52, 153);
        border: 0px;
        border-radius: 10px;
        height: 50px;
    }

    .conteudo{
        display: flex;
        flex-direction: row;
        gap: 20PX;
        
    }

    .p1{
        background-color: #201649;
        color: rgb(212, 148, 255);
        border-radius: 15px;
    }

    .junto{
        display: flex;
    }

    .p2{
        background-color: rgb(47, 53, 79);
        color: rgb(247, 147, 238);
        border-radius: 20px;
        height: 150px;
    }

    .p3{
        background-color: rgb(47, 53, 79);
        color: rgb(247, 147, 238);
        border-radius: 20px;
        height: 150px;
    }
    
}

@media only screen and (min-width: 601px) {
    body{
        background-color: #001608;
    }
    
    .Banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Logo{
        margin-left: 35px;
        color: rgb(39, 240, 49);
        font-family: sans-serif
    }

    .btn{
        display: flex;
        gap: 10px;
    }

    input{
        width: 40px;
        color: antiquewhite;
        background-color: rgb(5, 179, 28);
        border: 0px;
        border-radius: 10px;
        height: 35px;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
        gap: 20PX;
        
    }

    .p1{
        background-color: #133612;
        color: azure;
        border-radius: 15px;
    }

    .p2{
        background-color: #12361e;
        color: azure;
        border-radius: 15px;
    }
    

    .p3{
        background-color: darkslategray;
        color: aliceblue;
        border-radius: 20px;
        height: 150px;
    }

}