body{
    background-color: darkslategrey;
    display: flex;
    gap: 85px;
}

.Um{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 35px;
}

.logo{
    margin-left: 110px;
    margin-top: -10px;
    display: grid;
}

.clientes{
    align-items: center;
    background-color: #887b50;
    border-radius: 20px;
    margin-left: 15px;    
    margin-right: -80px;
    color: whitesmoke;
    text-align: center;
}

.OK{
    color: antiquewhite;
    margin-left: 15px;
}

.Jorge{
    display: flex;
}

.anna{
    display: flex;
    flex-direction: row-reverse;
}

.lana{
    display: flex;
}

.joão{
    display: flex;
    flex-direction: row-reverse;
}

.MDS{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.conteudo{
    display: flex;
    justify-content: center;
    height: 480px;
    width: 915px;
    background-color: #a6a777;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 190px;
}

.conteudo2{
    height: 360px;
    width: 915px;
    background-color: #a6a777;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 190px;
}


.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 850px;
}

.Acesso{
    border-radius: 20px;
    height: 35px;
    width: 150px;
    background-color: rgb(132, 248, 132);
}

.assinar{
    border-radius: 25px;
    height: 35px;
    width: 100px;
    background-color: chartreuse;
}
